{% extends 'base.html' %}

{% block title %}Project {{ project.id }}{% endblock %}

{% block content %}
    <div class="card text-bg-primary mb-3">
      <div class="card-body">
        <h5 class="card-title">Проект: {{ project.name }}</h5>

        {% if project.description %}
            <p class="card-text"><strong>Описание:</strong> <br>{{ project.description }}</p>
        {% else %}
            <p class="card-text">Без описания</p>
        {% endif %}
        <p class="card-text">Дата начала проекта: {{ project.start_date}}</p>
        {% if project.end_date %}
            <p class="card-text">Дата окончания проекта: {{ project.end_date }}</p>
        {% else %}
            <p class="card-text">Сроки проекта не указаны</p>
        {% endif %}
        <a href="{% url 'webapp:project_update' pk=project.id %}" class="btn btn-outline-light btn-sm mb-2">Изменить проект</a>
        <a href="{% url 'webapp:project_delete' pk=project.id %}" class="btn btn-outline-light btn-sm mb-2">Удалить проект</a>
        <a href="{% url 'webapp:task_create' project.id %}" class="btn btn-outline-light btn-sm mb-2">Добавить задачу</a>
      </div>
    </div>

    <h4 class="mb-3">Задачи</h4>
    <div class="row row-cols-2 row-cols-md-3">
        {% for task in tasks %}
            <div class="col mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.title }}</h5>
                        <p class="card-text"><strong>Статус: </strong>{{ task.status }}</p>
                        <p class="card-text"><strong>Тип: </strong>
                            {% for type in task.types.all %}
                                <span class="card-text">{{ type }}</span>
                            {% empty %}
                                <span class="card-text">—</span>
                            {% endfor %}
                        </p>
                        <a href="{% url 'webapp:task_detail' pk=task.id %}" class="btn btn-primary btn-sm mb-2">Подробнее...</a>
                        <a href="{% url 'webapp:task_update' pk=task.id %}" class="btn btn-primary btn-sm mb-2">Изменить задачу</a>
                        <a href="{% url 'webapp:task_delete' pk=task.id %}" class="btn btn-primary btn-sm">Удалить задачу</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Задач нет.</p>
        {% endfor %}
    </div>


{% endblock %}