{% extends 'base.html' %}

{% block title %}Проекты{% endblock %}

{% block content %}
    <h1 class="mb-3">Список проектов</h1>
    {% include 'partial/search.html' with form=search_form %}
    {% if projects %}
        <div class="row row-cols row-cols-md-4">
            {% for project in projects %}
                <div class="col my-3">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.name }}</h5>
                            {% if project.end_date %}
                                <p class="card-text">Дата окончания проекта: {{ project.end_date }}</p>
                            {% else %}
                                <p class="card-text">Сроки проекта не указаны</p>
                            {% endif %}
                            <a href="{% url 'project_detail' pk=project.id %}" class="btn btn-primary btn-sm">Подробнее...</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    {% else %}
        <h1 class="display-1 mt-5">Проекты не найдены!</h1>
    {% endif %}

{% endblock %}