{% extends 'base.html' %}

{% block title %}Task List{% endblock %}

{% block content %}
    <h1 class="mb-3">Task List</h1>
    <div class="row row-cols row-cols-md-4">
        {% for task in tasks %}
            <div class="col mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.title }}</h5>
                        <p class="card-text"><strong>Статус: </strong>{{ task.status }}</p>
                        <p class="card-text"><strong>Тип: </strong>
                            {% for type in task.types.all %}
                                <span class="card-text">{{ type }}</span>
                            {% empty %}
                                <span class="card-text">—</span>
                            {% endfor %}
                        </p>
                        <a href="{% url 'task_detail' pk=task.id %}" class="btn btn-primary btn-sm">Подробнее...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}