{% extends 'base.html' %}

{% block title %}Task {{ task.id }}{% endblock %}

{% block content %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Задача: {{ task.title }}</h5>

        {% if task.description %}
            <p class="card-text"><strong>Описание:</strong> <br>{{ task.description }}</p>
        {% else %}
            <p class="card-text">Без описания</p>
        {% endif %}
        <p class="card-text"><strong>Статус:</strong> {{ task.status }}</p>
        <p class="card-text"><strong>Тип:</strong>
            {% for type in task.types.all %}
                <span class="card-text">{{ type }}</span>
            {% empty %}
                <span class="card-text">—</span>
            {% endfor %}
        </p>
        <a href="{% url 'task_update' pk=task.id %}" class="btn btn-outline-primary btn-sm">Изменить задачу</a>
        <a href="{% url 'task_delete' pk=task.id %}" class="btn btn-outline-primary btn-sm">Удалить задачу</a>
      </div>
</div>
{% endblock %}